body {
  color: #222831;
  margin: 0;
  text-align: center;
  font-family: 'Yrsa', serif;
  font-size: 1.25em;

}

h1 {
  color: #13abc4;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #13abc4;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #3161a3;
  font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.25;
}

hr {
  border-style: dotted;
  border-bottom: none;
  border-width: 8px;
  color: silver;
  width: 5%;
  margin: 75px auto;
}

a {
  margin: 10px 5px;
  text-decoration: none;
}

.greeting {
  background-color: #7efaff;
  /* padding-left: 20px; */
  padding-top: 185px;
  position: relative;
  color: #13abc4;
  font-weight: normal;
}

.middle-container {
  margin: 0 auto 100px;
}

.bio {
  width: 30%;
  margin: 0 auto 100px;
}

.skills {
  margin-top: 75px;
}

.skill-row {
  display: inline-block;
  margin: 50px auto 0 auto;
  width: 50%;
  text-align: left;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}

.contactMe {
  width: 40%;
  margin: 30px auto 40px;
}

.bottom-container {
  background-color: #13abc4;
  color: #3161a3;
  margin-bottom: 0;
  padding: 30px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
}

.developer {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profilePic {
  margin-top: 100px;
  height: 200px;
  width: 200px;
}

.developImg {
  width: 25%;
  float: left;
  margin-right: 30px;
  opacity: 0.8;
}

.cameraImg {
  width: 25%;
  float: left;
  margin-right: 30px;
  opacity: 0.8;
}

.btn {
  background: #7efaff;
  background-image: -webkit-linear-gradient(top, #7efaff, #2980b9);
  background-image: -moz-linear-gradient(top, #7efaff, #2980b9);
  background-image: -ms-linear-gradient(top, #7efaff, #2980b9);
  background-image: -o-linear-gradient(top, #7efaff, #2980b9);
  background-image: linear-gradient(to bottom, #7efaff, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
